<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>《小冰冰传奇》官方网站-首款动作卡牌手游</title>
		<link href="/static/510006-dota/v4/css/style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/static/510006-dota/v4/js/jquery-1.8.3.min.js"></script>
	    <script src="/static/js/unslider.min.js"></script>

    </head>
    <body>
		<div class="main">
		    <div class="warp">
                <div class="menus">
                    <a href="/index"  class='now'>首 &nbsp;页</a>
                    <a href="/top_10"target="_blank" >人气明星</a>
                    <a href="/register/" >注册</a>
                    <a href="/login/" >登录</a>
                    <a href="http://forum.longtugame.com/forum.php?gid=76">游戏论坛</a>
                </div>

        <div class="download">
			<span><!-- <img src="http://image.longtugame.com/uploadimg/mobile/2018/0626/15300026653590.png"> --></span>
			<a href="https://itunes.apple.com/cn/app/dao-ta-chuan-qi-dong-zuo-ka/id793077082?ls=1&mt=8" class="ios"></a>
			<a href="http://cdn.longtugame.com/channel_bin/520006/apk/V5.0.079/520006_397.apk" class="ands popbtn2"></a>
			<a href="http://d.longtugame.com/d/web_d" class="zxsw" target="_blank"></a>
			<a href="javascript:;" class="hefu popbtn3"></a>
		</div>
        <div class="switc">
        <!-- ym-slider -->
        <style>

	/*#b04 { width: 640px;}*/

	#b04 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}

	#b04 .dots li

	{

		display: inline-block;

		width: 10px;

		height: 10px;

		margin: 0 4px;

		text-indent: -999em;

		border: 2px solid #fff;

		border-radius: 6px;

		cursor: pointer;

		opacity: .4;

		-webkit-transition: background .5s, opacity .5s;

		-moz-transition: background .5s, opacity .5s;

		transition: background .5s, opacity .5s;

	}

	#b04 .dots li.active

	{

		background: #fff;

		opacity: 1;

	}

	#b04 .arrow { position: absolute; top: 200px;}

	#b04 #al { left: 15px;}

	#b04 #ar { right: 15px;}

</style>
        <div id="slider" class="ym-slider carousel" id="b04">
            <div class="slides">
                <div class="slide">
                    <a href="#"><img src="/static/img/01.jpg" alt="" /></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/static/img/02.jpg" alt="" /></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/static/img/03.jpg" alt="" /></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/static/img/04.jpg" alt="" /></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/static/img/05.jpg" alt="" /></a>
                </div>
                <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="/static/img/arrowl.png" alt="prev" width="20" height="35"></a>

                <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="/static/img/arrowr.png" alt="next" width="20" height="37"></a>
            </div>
            <script>

$(document).ready(function(e) {

var unslider04 = $('#b04').unslider({

dots: true

}),

data04 = unslider04.data('unslider');



$('.unslider-arrow04').click(function() {

var fn = this.className.split(' ')[1];

data04[fn]();

});

});

</script>


{#                        <ul class="indicator">#}
{#                        	                            <li>#}
{#                                <a href="#"></a>#}
{#                            </li>#}
{#                                                        <li>#}
{#                                <a href="#"></a>#}
{#                            </li>#}
{#                                                        <li>#}
{#                                <a href="#"></a>#}
{#                            </li>#}
{#                                                    </ul>#}
        </div>
        <!-- ym-slider -->
        <!--tab container-->
        <div class="ym-tabs tab">
                        <a href="/article/column/xwgg/" class="more">更多</a>
                        <ul class="tab-indicator">
                            <li>
                                <a href="/article/column/xwgg">综合</a>
                            </li>
                            <li>
                                <a href="/article/column/xwgg/xw">新闻</a>
                            </li>
                            <li>
                                <a href="/article/column/xwgg/gg">公告</a>
                            </li>
                            <li>
                                <a href="/article/column/xwgg/hd">活动</a>
                            </li>
                        </ul>
                        <div class="tabs">
                            <div class="tab-item">
                            	<!-- 综合 -->
                                <ul>
			                                                            <li>
                                        <a target="_blank" href="/article/38990.html" title="翡翠骑士  DC正版授权绿灯侠震撼来袭！"><strong>【新闻】</strong>翡翠骑士  DC正版授权绿灯侠震撼来袭！<span>09/04</span></a>
                                    </li>
                                                                        <li>
                                        <a target="_blank" href="/article/38988.html" title="双生锦鲤，冰火交融！神器双子、双头龙两极共生！"><strong>【新闻】</strong>双生锦鲤，冰火交融！神器双子、双头龙两极共生<span>09/04</span></a>
                                    </li>
                                                                                                            <li>
                                        <a target="_blank" href="/article/39056.html" title="【非WP】限时充值 礼包兼得重磅来袭"><strong>【活动】</strong>【非WP】限时充值 礼包兼得重磅来袭<span>09/13</span></a>
                                    </li>
                                                                        <li>
                                        <a target="_blank" href="/article/39046.html" title="【WP】秋高气爽去野餐"><strong>【活动】</strong>【WP】秋高气爽去野餐<span>09/11</span></a>
                                    </li>
                                                                    </ul>
                            </div>
                            <div class="tab-item">
                            	<!-- 新闻 -->
                                <ul>
                                	                                    <li>
                                        <a target="_blank" href="/article/38990.html" title="翡翠骑士  DC正版授权绿灯侠震撼来袭！"><strong>【新闻】</strong>翡翠骑士  DC正版授权绿灯侠震撼来袭！<span>09/04</span></a>
                                    </li>
                                                                        <li>
                                        <a target="_blank" href="/article/38988.html" title="双生锦鲤，冰火交融！神器双子、双头龙两极共生！"><strong>【新闻】</strong>双生锦鲤，冰火交融！神器双子、双头龙两极共生<span>09/04</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/38774.html" title="亚特兰蒂斯之王 DC正版授权海王震撼登场！"><strong>【新闻】</strong>亚特兰蒂斯之王 DC正版授权海王震撼登场！<span>07/26</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/38762.html" title="虚无爆破，激情点燃！神器骨法、机枪兵冲冠一怒！"><strong>【新闻】</strong>虚无爆破，激情点燃！神器骨法、机枪兵冲冠一怒<span>07/25</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/38716.html" title="万物复苏，大地之怒，新泰坦德鲁伊重磅登场！"><strong>【新闻】</strong>万物复苏，大地之怒，新泰坦德鲁伊重磅登场！<span>07/19</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/38662.html" title="疾风破晓，形影无踪！《小冰冰传奇》神器隐刺无情绝杀！"><strong>【新闻】</strong>疾风破晓，形影无踪！《小冰冰传奇》神器隐刺无<span>07/10</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/38578.html" title="星舰轰炸，失重力场 新泰坦银河提督霸气来袭！"><strong>【新闻】</strong>星舰轰炸，失重力场 新泰坦银河提督霸气来袭！<span>06/29</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/38498.html" title="鲜血献祭，嗜血猎手！《小冰冰传奇》神器血魔饮血追猎！"><strong>【新闻】</strong>鲜血献祭，嗜血猎手！《小冰冰传奇》神器血魔饮<span>06/19</span></a>
                                    </li>
                                                            			                                </ul>
                            </div>
                            <div class="tab-item">
                            	<!-- 公告 -->
                                <ul>
                                	<li>
                                        <a target="_blank" href="http://d.longtugame.com/lthd/hd180521lwd8" title="《小冰冰传奇》随机抽取类玩法概率公示"><strong>【公告】</strong>《小冰冰传奇》随机抽取类玩法概率公示<span>05/21</span></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="/article/38372.html" title="【重要】账号安全提醒"><strong>【公告】</strong>【重要】账号安全提醒<span>05/28</span></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="/article/38304.html" title="超人售卖截止提醒"><strong>【公告】</strong>超人售卖截止提醒<span>05/18</span></a>
                                    </li>

                                    <li>
                                        <a href="/article/39070.html" title="《小冰冰传奇》安卓新服【冰冻门牙】开启公告"><strong>【公告】</strong>《小冰冰传奇》安卓新服【冰冻门牙】开启公告<span>09/14</span></a>
                                    </li>

                                    <li>
                                        <a href="/article/39068.html" title="《小冰冰传奇》安卓新服【冰霜之心】开启公告"><strong>【公告】</strong>《小冰冰传奇》安卓新服【冰霜之心】开启公告<span>09/14</span></a>
                                    </li>

                                    <li>
                                        <a href="/article/39066.html" title="《小冰冰传奇》IOS正版新服【烈焰之魂】开启公告"><strong>【公告】</strong>《小冰冰传奇》IOS正版新服【烈焰之魂】开启<span>09/14</span></a>
                                    </li>

                                    <li>
                                        <a href="/article/39064.html" title="《小冰冰传奇》IOS越狱新服【死灵主宰】开启公告"><strong>【公告】</strong>《小冰冰传奇》IOS越狱新服【死灵主宰】开启<span>09/14</span></a>
                                    </li>

                                    <li>
                                        <a href="/article/39042.html" title="《小冰冰传奇》安卓新服【冰线海螺】开启公告"><strong>【公告】</strong>《小冰冰传奇》安卓新服【冰线海螺】开启公告<span>09/10</span></a>
                                    </li>
                                                            			                        			                         			                        			                         			                        			                         			                                </ul>
                            </div>
                            <div class="tab-item">
                            	<!-- 活动 -->
                                <ul>
                                	                                    <li>
                                        <a target="_blank" href="/article/39056.html" title="【非WP】限时充值 礼包兼得重磅来袭"><strong>【活动】</strong>【非WP】限时充值 礼包兼得重磅来袭<span>09/13</span></a>
                                    </li>
                                                                        <li>
                                        <a target="_blank" href="/article/39046.html" title="【WP】秋高气爽去野餐"><strong>【活动】</strong>【WP】秋高气爽去野餐<span>09/11</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/39044.html" title="【非WP】秋高气爽去野餐"><strong>【活动】</strong>【非WP】秋高气爽去野餐<span>09/11</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/39026.html" title="【非WP】初秋赠礼 英雄信使齐助力"><strong>【活动】</strong>【非WP】初秋赠礼 英雄信使齐助力<span>09/07</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/39024.html" title="【非WP】初秋赠礼 秘宝守卫来袭"><strong>【活动】</strong>【非WP】初秋赠礼 秘宝守卫来袭<span>09/07</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/39010.html" title="【WP】师恩难忘 师情永驻"><strong>【活动】</strong>【WP】师恩难忘 师情永驻<span>09/05</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/39008.html" title="【非WP】师恩难忘 师情永驻"><strong>【活动】</strong>【非WP】师恩难忘 师情永驻<span>09/05</span></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="/article/39006.html" title="【非WP】艳阳高照 装备助力"><strong>【活动】</strong>【非WP】艳阳高照 装备助力<span>09/05</span></a>
                                    </li>
                                                                                                        </ul>
                            </div>
                        </div>
                    </div>
        </div>
			<!--  -->
			<div class="interface">
				<a href="javascript:;" class="gftb"><img src="/static/510006-dota/v4/images/gftb.png"></a>
				<a href="https://tieba.baidu.com/f?kw=%E5%88%80%E5%A1%94%E4%BC%A0%E5%A5%87" class="yxtb" target=_blank><img src="/static/510006-dota/v4/images/yxtb.png"></a>
				<a href="http://d.longtugame.com/daotadata/index" class="yxzl" target=_blank><img src="/static/510006-dota/v4/images/yxzl.png"></a>
			</div>
			<div class="raiders">
				<div class="show">
					<div class="title">
						<span class="bt"></span>
						<a href="/article/column/video" class="more">更多</a>
					</div>
                    <div class="dsp">
                        <a href="javascript:;" class="popbtn"  tvUrl="http://haokan.baidu.com/v?pd=wisenatural&vid=11333972509924584313">
                            <img src="http://image.longtugame.com/uploadimg/mobile/2017/1225/15141853496353.png">
                            <span></span>
                            <em></em>
                        </a>
                    </div>

                    <div class="xsp">
                        <a href="javascript:;" class="popbtn"  tvUrl="http://cdn.longtugame.com/dt/mp3/mp4/xbbcqbatman.mp4">
                            <img src="http://image.longtugame.com/uploadimg/mobile/2017/1215/15133338052320.png">
                            <span></span>
                            <em></em>
                        </a>
                    </div>
                    <div class="xsp">
                        <a href="javascript:;" class="popbtn"  tvUrl="http://dota.cdn.longtugame.com:8080/video/mv.mp4">
                            <img src="http://image.longtugame.com/uploadimg/mobile/2017/1225/15141838183347.png">
                            <span></span>
                            <em></em>
                        </a>
                    </div>

                </div>

				<div class="wallpaper">
					<div class="title">
						<span class="bt"></span>
						<a href="/dota/wall?type=pc" class="more">更多</a>
					</div>
					<div class="picture">
												<a href="#" class="popbtns"  picUrl="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053831507090.jpg">
							<img src="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053831507090.jpg">
						</a>
												<a href="#" class="popbtns"  picUrl="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053830233098.jpg">
							<img src="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053830233098.jpg">
						</a>
												<a href="#" class="popbtns"  picUrl="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053829074719.jpg">
							<img src="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053829074719.jpg">
						</a>
												<a href="#" class="popbtns"  picUrl="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053827667622.jpg">
							<img src="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053827667622.jpg">
						</a>
												<a href="#" class="popbtns"  picUrl="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053826363772.jpg">
							<img src="http://image.longtugame.com/uploadimg/mobile/2017/0914/15053826363772.jpg">
						</a>
												<a href="#" class="popbtns"  picUrl="http://image.longtugame.com/uploadimg/mobile/2017/0907/15047692441035.jpg">
							<img src="http://image.longtugame.com/uploadimg/mobile/2017/0907/15047692441035.jpg">
						</a>
											</div>
				</div>
			</div>

	</div>
		</div>
		<div class="copyright">
	<div class="foot">
		<div class="bot-logo"> <img src="/static/510006-dota/v4/images/bot-logo.png"> </div>
		<div class="regard">
			<p>上海中清龙图网络技术有限公司</p>
			<p>ICP备11023195号-3 京网文[2014]0384-084号 文网游备字[2014]M-RPG188号
				<a href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/gameNetTag/4028c08c558f68fc015590f861bc1e18" target="_blank"><img src="/static/510006-dota/v4/images/icon_footer_wen.png" /></a>
			</p>
		</div>
	</div>
</div>	<!-- 视频弹窗 -->
	<div class="popup" >
			<div class="panel" id="_video">
            <object width="100%" height="546" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
				<param value="http://static.longtugame.com/swf/Flvplayer.swf" name="movie">
				<param value="high" name="quality">
				<param value="opaque" name="WMODE">
				<param value="true" name="allowFullScreen">
				<param value="" name="FlashVars">
				<embed width="100%" height="546" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" flashvars="" allowfullscreen="true" wmode="opaque" src="http://static.longtugame.com/swf/Flvplayer.swf">
			</object>
			</div>
		<a href="javasript:;" class="btnclose"></a>
	</div>

<!-- 图片弹窗 -->
<div class="popups" >
	<div class="panel">
		<div class="pic">
			<img src="" id="_pic">
		</div>
	</div>
	<a href="javasript:;" class="btnclose"></a>
</div>
<!-- 安卓弹窗 -->
<div class="popup2">
	<div class="panel">
		<div class="service gfxz">
			<a href="http://cdn.longtugame.com/channel_bin/520006/apk/V5.0.110/520006_397.apk"></a>
			<span><img src="http://image.longtugame.com/uploadimg/mobile/2018/0628/15301857949738.png"></span>
		</div>
		<div class="service zfxz">
			<a href="http://cdn.longtugame.com/channel_bin/520006/apk/v5.0.092/520006_533.apk"></a>
			<span><img src="http://image.longtugame.com/uploadimg/mobile/2018/0628/15301860378560.png"></span>
		</div>
	</div>
	<a href="javasript:;" class="btnclose"></a>
</div>
<!-- 合服查询 -->
<div class="popup3 success">
    <a href="javascript:;" class="btnclose top0"></a>
    <div class="po-cont">
        <ul class="tit">
            <li class="pt">平台 </li>
            <li>
                <select id="sel">
                	<!-- <option value="ios">点击选择平台</option>
                    <option value="ios">ios</option>
                    <option value="安卓混服">安卓混服</option>
                    <option value="360专服">360专服</option>
                    <option value="WP服">WP服</option> -->
                    <option value="appstore">ios</option>
					<option value="android">安卓混服</option>
					<option value="360">360专服</option>
					<option value="wp">WP服</option>
					<option value="yueyu">越狱</option>
					<option value="lemon">安卓专服</option>
               </select>
            </li>
            <li class="qf">服务器 </li>
            <li class="search"><input type="text" class="txt" id="serid"><input type="button" class="search-btn" value="查询"></li>
        </ul>
        <div class="table">
        <ul class="t-list">
        </ul>
        </div>
          <p class="ts">*查询结果显示中，最小数字大区为最终合服大区。例：WP-2区与WP-1区合服，最终合服大区为WP-1区。</p>
    </div>
</div>
<script type="text/javascript" src="static/510006-dota/v4/js/ym.popup.js"></script>
<script type="text/javascript" src="static/510006-dota/v4/js/ym.slider.js"></script>
<script type="text/javascript" src="static/510006-dota/v4/js/ym.tabs.js"></script>
<script type="text/javascript">


//tab
    $('.tab').ymTabs({
        defaultIndex: 0,
        bindType: 'click',
        effect: 'fade',
        speed: 600
    });
    //轮播图
{#    $('#slider').ymSlider({#}
{#        defaultIndex: 0,#}
{#        bindType: 'mouseenter',#}
{#        effect: 'fade',#}
{#        autoDelay: 6000#}
{#    });#}




</script>
</body>
</html>